body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #0F1016;
  color: #EAD7D7;
  font-family: Arial, Helvetica, sans-serif;
}

.light-mode {
  background-color: rgb(253 194 214);
  color: hotpink;
  border-color: hotpink;
}

.light-mode-button {
  position: fixed;
  top: 8px;
  left: 8px;
}

.search-section {
  display: flex;
}

input {
  color: #EAD7D7;
  background-color: #0F1016;
  border: 2px solid #EAD7D7;
  border-radius: 6px;
  margin-bottom: 12px;
  margin-right: 8px;
  padding: 5px;
  letter-spacing: 1.5px;
}

.light-mode-button,
.search {
  background-color: #0F1016;
  color: #EAD7D7;
  border-radius: 6px;
  border: 2px solid;
  height: 29px;
  font-weight: bold;
  letter-spacing: 2px;
}

.date-container {
  position: fixed;
  left: 0px;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-size: .85rem;
  letter-spacing: 2px;
  margin-bottom: 4px;
}


.search,
.weather-container,
.weather-image {
  border-color: #EAD7D7;
}

.weather-container {
  min-width: 200px;
  min-height: 9px;
  border-radius: 12px;
  border: 5px solid;
}

.weather-header {
  display: flex;
  padding: 16px 16px 3px 16px;
}

.weather-image {
  width: 50px;
  height: 50px;
  border: 3px solid;
  border-radius: 12px;
  margin-right: 12px;
}

.weather-location {
  padding-top: 10px;
  font-size: 2.5rem;
  letter-spacing: 2px;
  font-weight: bold;
}

.weather-description {
  padding: 4px 16px 0px 16px;
  letter-spacing: 3px;
  margin-left: 2px;
}

.weather-info {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 0px 16px;
}

.actual-temp {
  font-size: 2.3rem;
  font-weight: bold;
  letter-spacing: 3px;
  margin-bottom: 4px;
}

.approx-temp,
.high-low {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 3px;
  margin-left: 2px;
}

.high-low {
  margin-bottom: 15px;
}

.humidity,
.wind-speed {
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 3px;
  margin-left: 2px;
}

.wind-speed {
  margin-bottom: 8px;
}

.search-button-light,
.search-section-light {
  background-color: rgb(253 194 214);
  color:hotpink;
  border-color: hotpink;
}